<header class="main-header">
    <div class="logo-container">
        <a href="/home">
            <img class="logo-image" src="/images/idh_header.png" alt="Site Logo" class="logo">
        </a>
    </div>
    
    <nav class="main-nav">
        <a href="/home" class="nav-link">Home</a>
        <a href="www.idhoops.com">Main Website</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/services" class="nav-link">EZ Facility</a>
    </nav>
    
    <div class="header-right">
        <a href="/logout" class="login-btn">Logout</a>
    </div>
</header>