<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaches App</title>
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Inner Drive Hoops Coach's Database</h1>
        <form action="/login" method="POST">
            <div class="background">
                <img class="logo "src="/images/IDH svg.svg">
                <div class="login">
                    <div class="form-content">
                        <label>Email:</label>
                        <input class="textfield" type="email" placeholder="Enter your email." name="email" required>
                    </div>
                    <div class="form-content">
                        <label>Password:</label>
                        <input type="password" class="textfield" placeholder="Enter your password." name="password" required>
                    </div>
                    <button class="login-button" type="submit">Login</button>
                    <label style="font-size: 12px; position: relative; bottom: 34px;">
                        <input type="checkbox" name="remember"> Remember me
                    </label>
                    <a href="/pass" style="font-size: 12px;">Forgot your password? Click here.</a>
                </div>
            </div>
        </form>
        <% if (message) { %>
            <p style="color:red"><%= message %></p>
        <% } %>
        <% if (success) { %>
            <p style="color:green"><%= success %></p>
        <% } %>
    </div>
</body>
</html>