<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/reset_pass.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <form action="/resetpass" method="POST">
            <div class="background" style="width: 470px">
                <img class="logo "src="./images/IDH svg.svg">
                <div class="reset">
                    <h2>Enter the email associated with your account to receive a password reset email.</h2>
                    <div class="form-content">
                        <label>Email:</label>
                        <input class="textfield" type="text" placeholder="Enter your email." name="email" required>
                    </div>
                    <button class="send-button" type="submit">Send Email</button>
                </div>
            </div>
        </form>
        <div class="error">
        <% if (locals.message) { %>
            <p id="error"><%= message %></p>
        <% } %>
        </div>
    </div>
</body>
</html>