body {
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/idhoopslogo.png");
    background-position: center top 170px;
    background-repeat: no-repeat;
    z-index: -1;
}

.container {
    display: flex;
    border: 3px solid rgb(19, 18, 75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 63px;
    height: 950px;
    width: 1100px;
    border-radius: 5px;;
    background-color: rgba(255, 255, 255, .75);
}

/* Stylings for header  */

.header {
    position: relative;
    height: 237px;
    width: 1095px;
    display: flex;
    border-bottom: 3px solid rgb(19, 18, 75);
    background: linear-gradient(to right, rgba(240,248,255,0.5), rgba(230,230,250,0.5));
}

.profile-pic {
    height: 155px;
    width: 160px;
    border-radius: 5px;
    margin-left: 1.65rem;
}

.update-pfp {
    font-size: 14px;
    color: blue;
    text-align: center;
    position: relative;
    top: 3%;
}

.client-name {
    width: 40%;
    height: 40%;
    margin-left: 25px;
    margin-top: 20px;
    color: rgb(19, 18, 75);
    text-align: center;
    font-size: larger;
    
}

.profile-pic-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 226px;
    margin-left: 12px;
    border-radius: 5px;
}

.prof-div-img {
    width: 170px;
    height: 170px;
    margin-left: 270px;
    margin-top: 15px;
    filter: hue-rotate(180deg);
}

.profile-info {
    margin-left: 30px;
}

.profile-info > h1 {
    text-shadow: 
        0px -1px 0 rgb(255, 102, 50),
        0px -1px 0 rgb(255, 102, 50),
        -1px -1px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50);
    text-decoration: underline;
}

.profile-info > p {
    font-size: 1.1rem;
}

.profile-info > p > span {
    color: rgb(19, 18, 75);
    text-shadow: 
        -1px 0px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50),
        0px -1px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50);
}


.coaches-div {
    margin-left: 6.5rem;
    margin-top: .4rem;
}

#coach-title {
    text-decoration: underline;
    
}

/* --------- */

.body {
    height: 710px;
    width: 1095px;
    display: flex;
}

/* Comment body */

.comments {
    height: 703px;
    width: 549px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#comment-header {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10px;
}

.comment-display {
    max-height: 800px;
    min-height: 641.5px;
    overflow-y: auto;
    width: 519px;
    background-color: rgba(255, 101, 50, 0.819);
    margin-left: 15px;
    border-radius: 8px;
    margin-top: -9px;
    position: relative;
    bottom: .6rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.comment {
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgb(19, 18, 75);
    max-width: 490px;
    min-width: 490px;
    height: auto;
    gap: 5px;
    margin-top: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#comment-content {
    font-size: 16px;
    margin-left: 15px;
    max-width: 462px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 0px;
    position: relative;
    bottom: .5rem;
}

#comment-author {
    font-size: 13px;
    margin-left: 1.02rem;
    position: relative;
    bottom: .3rem;
    text-decoration: underline;
    color: white;
}

.right-body {
    /* border: 3px solid orange; */
    height: 703px;
    width: 567px;
    display: block;
    margin-left: 5px;
}

.ratings {
    height: 703px;
    width: 545px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rating {
    display: flex;
    border: 1px solid gray;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -5px;
    background-color: rgb(19, 18, 75);
    color: white;
    border-radius: 8px;
    width: 80%;
    height: 46%;
}

#ratings-header {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10px;
}
  
.rating-text > div {
    display: flex;
    justify-content: center;
    position: relative;
    left: 1.35rem;
}

.deleteRatingBtn {
    height: 22px;
    width: 22px;
    position: absolute;
    top: -0.05rem;
    right: 1.3rem;
    background-color: rgba(255, 0, 0, 0.671);
    border-radius: 8px;
    border: 1px solid rgba(255, 0, 0, 0.671);
    cursor: pointer;
}

.ratings-display {
  max-height: 800px;
  min-height: 610px;               
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;  
  background-color: rgba(255, 101, 50, 0.819);
  border-radius: 8px;
  position: relative;
  bottom: 10px;
  margin-top: -9px;
  width: 510px;
}

li {
    position: relative;
    bottom: 1.75rem;
    right: 1rem;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

span {
    color: rgb(230, 110, 50);
    font-weight: bold;
    text-decoration: solid;
}

#rating-author {
    text-decoration: underline;
    font-size: 22px;
    margin-right: 2rem;
}

.edit-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 24%;
    position: relative;
    top: 5%;
    height: 10%;
}

#editPencil {
    position: relative;
    width: 32%;
    height: 80%;
    right: 7%;
}

#editPencil:hover {
    cursor: pointer;
}

#edit-text {
    text-decoration: underline;
    color: blue;
    font-size: 14px;
    position: relative;
    top: 12%;
    left: 3%;
}

#edit-text:hover {
    cursor: pointer;
}

/* Edit form styles */

.popup-form {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: rgb(19, 18, 75);;
    border: 1px solid #ccc;
    padding: 1.6rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 300px;
    border-radius: 8px;
}

.popup-form h2 {
    color: white;
    text-decoration: underline;
    text-align: center;
    position: relative;
    bottom: .9rem;
}

.popup-form label {
    position: relative;
    bottom: .9rem;
    padding-bottom: 3px;
    padding-top: 2px;
}

.editfields{
    padding: 5px;
    margin: .1rem;
    border-radius: 5px;
    outline: none;
    border-width: 0;
    position: relative;
    bottom: .9rem;
}

#form-element {
    display: flex;
    flex-direction: column;
    color: white;
}

.hidden {
    display: none;
}
  
.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
  
#saveBtn {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
}

#cancelEdit {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
}

#cancelBtn {
    width: 22%;
}

#addCoach {
    margin-left: 10rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 3.75rem;
    right: .23rem;
}

.assign-overlay {
    position: absolute;
    top: 150px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: rgb(19, 18, 75);;
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    border-radius: 8px;
}
  
.assign-label{
    color: white;
}

#coachId {
    outline: none;
    border-radius: 6px;
    width: 40%;
    height: 1.5rem;
    border-width: 0;
    position: relative;
    left: .5rem;
}

.assign-buttons {
    padding-top: 9%;
    display: flex;
    justify-content: space-around;
    transform: translateY(19%)
}

#assign-button {
    width: 30%;
    height: 1.5rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#cancel-btn {
    width: 30%;
    height: 1.5rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

form > span {
    color: firebrick;
    font-size: .95rem;
    padding-left: .65rem;
}

.trainerNameDiv {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
    bottom: 2.5rem;
}
  
.trainer-pair {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.trainers {
    min-width: 200px;
    margin: 0;
    text-shadow: 
        0px -1px 0 rgb(255, 102, 50),
        0px -1px 0 rgb(255, 102, 50),
        -1px -1px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50);
}
  
.ratings > div {
    display: flex;
}

#addRatingBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.header-and-butt {
    display: flex;
    justify-content: center;
}
  
  
.rating-popup {
    position: absolute;
    top: 7rem;
    left: 22.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
  
#rating-form {
    background-color: rgb(19, 18, 75);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid gray;
    width: 380px;
    display: flex;
    flex-direction: column;
}

#rating-form h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
    position: relative;
    bottom: 1.1rem;
}
  
#rating-form label {
    font-weight: bold;
    margin-top: 0.5rem;
    color: white;
    position: relative;
    bottom: 1.1rem;
}
  
#rating-form input {
    margin-top: 0.3rem;
    padding: 0.45rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    bottom: 1.1rem;
}

#rating-form h3 {
    position: relative;
    bottom: 1.1rem;
}

#cancelBtn {
    width: 30%;
    height: 2rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
  
.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#cancelEditRating {
    width: 30%;
    height: 2rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#confirmEditRating {
    width: 30%;
    height: 2rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
  
.popup-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  
.delete-rating-box {
    margin-bottom: 1rem;
    border: 3px solid gray;
    border-radius: 8px;
    background-color: lightgrey;
    padding: 6px;
}

.delete-rating-box > button {
    display: flex;
    justify-content: space-between;
}

#addCommentBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.comment-header-and-butt{
    display: flex;
    justify-content: center;
}

#commentPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* real centering */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#popupContent {
    background: rgb(19, 18, 75);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid gray;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    width: 24rem;
    min-height: 12rem;
    max-width: 90vw;
    text-align: center;
}

.comment-form-header {
    color: white;
    text-align: center;
    text-decoration: underline;
    position: relative;
    bottom: 1rem;
}

#commentInput {
    width: 100%;
    height: 11rem;
    margin-bottom: 10px;
    outline: none;
    resize: none;
    position: relative;
    bottom: 1rem;
}

#submitComment {
    width: 30%;
    height: 1.5rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 9rem;
}

#cancelComment {
    width: 30%;
    height: 1.5rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: .5rem;
}

.deleteComments {
    height: 22px;
    width: 22px;
    position: relative;
    left: 29.2rem;
    bottom: .05rem;
    background-color: rgba(255, 0, 0, 0.671);
    border-radius: 8px;
    border: 1px solid rgba(255, 0, 0, 0.671);
    cursor: pointer;
}

.confirmDeleteComment {
    margin-bottom: 1rem;
    border: 3px solid gray;
    border-radius: 8px;
    background-color: lightgrey;
    padding: 4px;
    margin-top: 5px;
}

.commentPencil {
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
    margin-top: 4.5px;
}

.ratingPencil {
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
    margin-top: -16px;
}

.edit-rating-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* real centering */
    display: flex;
    color: white;
    align-items: center;
    border: 2px solid gray;
    z-index: 9999;
    background-color: rgb(19, 18, 75);
    padding: 2rem;
    border-radius: 10px;
    width: 380px;
    flex-direction: column;
}

.edit-rating-popup h2 {
    text-align: center;
    text-decoration: underline;
    position: relative;
    bottom: 1rem;
}

.edit-rating-popup input { 
    margin-top: 0.25rem;
    padding: 0.45rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    bottom: 1rem;
}

.edit-rating-popup label {
    position: relative;
    bottom: 1rem;
}

.edit-rating-popup h3 {
    position: relative;
    bottom: 1rem;
}

.edit-comment-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border: 2px solid gray;
    background-color: rgb(19, 18, 75);
    width: 24rem;
    min-height: 12rem;
    max-width: 90vw;
    padding: 15px;
    border-radius: 10px;
}

.edit-comment-popup textarea {
    width: 99%;
    height: 11rem;
    margin-bottom: 10px;
    outline: none;
    resize: none;
}

.edit-comment-popup h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.flash-error {
    background-color: #ffcccc;
    color: #990000;
    padding: 10px;
    border: 1px solid #990000;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    width: 50%;
    font-weight: bold;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delCoachBtn {
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#saveCommentEdit {
    width: 30%;
    height: 2rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-right: 9rem;
}

#cancelCommentEdit {
    width: 30%;
    height: 2rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: .5rem;
}

.popup-actions {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.confirmComDelete {
    width: 20%;
    height: 1.3rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.cancelComDelete {
    width: 20%;
    height: 1.3rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative; 
}

#confirmDelete {
   width: 20%;
    height: 1.3rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer; 
}

.cancelDelete {
    width: 20%;
    height: 1.3rem;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: rgb(243 127 127);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative; 
}

.ratefields {
    outline: none;
    border-width: 0;
}

.mobileRatings {
    display: none;
}

.mobileRatings h1 {
    display: none;
}

#mobileAddRating {
    display: none; 
}


/* Mobile MQs and Divs */
.mobileContainer {
    display: none;
}

@media (max-width: 430px) {
    .container {
       display: none;
    }
    
    
    /*   Profile Info   */
    
    .mobileContainer {
        display: block;
        margin-top: 60px;
    }
    
    .mobileInfo > p {
        margin-left: 20px;
        position: relative;
        bottom: .75rem;
    }
    
    .mobileInfo > p span{
        color: rgb(19, 18, 75);
        text-shadow: 
        0px -1px 0 rgb(255, 102, 50),
        0px -1px 0 rgb(255, 102, 50),
        -1px -1px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50);
    }
    
    .mobile-edit-pencil {
        display: flex;
        margin-left: 20px;
        margin-top: -10px;
    }
    
    .mobile-edit-pencil > p {
        text-decoration: underline;
        cursor: pointer;
        font-size: 22px;
    }
    
    .mobileprofilePencil {
        width: 8%;
        margin-left: 15px;
        cursor: pointer;
    }
    
    .mobileInfo {
        background-color: rgba(255, 255, 255, .75);
        padding: 5px;
        border-radius: 8px;
    }
    
    .mobileInfo> h1 {
        text-shadow: 
        0px -1px 0 rgb(255, 102, 50),
        0px -1px 0 rgb(255, 102, 50),
        -1px -1px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50);
        text-decoration: underline;
        text-align: center;
    }
    
    .mobile-coaches-header-div {
        display: flex;
        margin-left: 20px;
        margin-top: -15px;
        font-size: 17px;
    }
    
    .mobileTrainerNameDiv {
        margin-left: 20px;
        margin-top: -25px;
        text-shadow: 
        0px -1px 0 rgb(255, 102, 50),
        0px -1px 0 rgb(255, 102, 50),
        -1px -1px 0 rgb(255, 102, 50),
        0px 0px 0 rgb(255, 102, 50);
    }
    
    .mobile-trainer-pair {
        display: flex;
        justify-content: space-between;
        margin-top: -15px;
    }
    
    .mobileDelCoachBtn {
        position: relative;
        top: .7rem;
        right: .7rem;
        height: 35px;
        width: 80px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
    #mobileAddCoach {
        width: 20px;
        cursor: pointer;
        margin-left: 5px;
    }
    
    #mobile-coach-title {
        text-decoration: underline;
    }
    
/*  Comments Section */
    
    .mobileComments {
        background-color: rgba(255, 101, 50, 0.819);
        padding: 5px;
        border-radius: 8px;
        margin-top: 15px;
        padding-bottom: 10px;
        overflow-y: scroll;
        max-height: 400px;
    }
    
    .mobile-comment-header {
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
    
    .mobile-comment-header > h1 {
        text-decoration: underline;
    }
    
    #mobileAddComment {
        width: 12%;
        position: relative;
        left: 15px;
        cursor: pointer;
    }
    
    .mobileComment {
        color: white;
        position: relative;
        background-color: rgb(19, 18, 75);
        padding: 5px;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    
    .mobiledeleteComments{
        background-color: rgba(255, 0, 0, 0.671);
        border-radius: 8px;
        position: absolute;
        left: 21.75rem;
        bottom: 5.26rem;
        cursor: pointer;
        
    }
    
    .mobilecommentPencil {
        width: 9%;
        padding-left: 10px;
        margin-bottom: 6px;
        cursor: pointer;
    }
    
    #mobile-comment-author {
        text-decoration: underline;
        font-size: 14px;
    }
    
/*   Ratings stylings   */
    
    .mobileRatings {
        display: block;
        margin-top: 15px;
        background-color: rgba(255, 101, 50, 0.819);
        padding: 5px;
        border-radius: 8px;
        width: 380px;
        padding-bottom: 10px;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        max-height: 400px;
    }
    
    .mobileRatings h1 {
        display: block;
    }
    
    .mobile-rating {
        background-color: rgb(19, 18, 75);
        color: white;
        padding: 5px;
        border-radius: 8px;
        width: 330px;
        margin-left: 3px;
        
    }
    
    .mobileRatingsHeader {
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
    
    .mobileRatingsHeader > h1 {
        text-decoration: underline;
    }
    
    .mobile-rating-text > div {
        display: flex;
        justify-content: center;
    }
    
    .mobileDeleteRatingBtn {
        width: 9.3%;
        height: 20%;
        background-color: rgba(255, 0, 0, 0.671);
        border-radius: 8px;
        position: relative;
        left: 2.4rem;
        bottom: .3rem;
        cursor: pointer;
    }
    
    #mobileAddRating {
        display: block;
        width: 12%;
        position: relative;
        left: 15px;
    }
    
    .mobile-actual-ratings {
        text-align: center;
        position: relative;
        top: 5px;
    }
    
    .mobile-actual-ratings > li {
        font-size: 18px;
    }
    
    .mobileRatingBottom {
        margin-left: 40px;
    }
    
    .mobileRatingPencil {
        width: 11%;
        position: relative;
        bottom: 1.8rem;
        margin-left: 12px;
        cursor: pointer;
    }
    
    #mobile-rating-author {
        margin-left: 35px;
        font-size: 22px;
    }
    
/*   Popup Boxes   */
    
/*  Edit Coaches     */
    
    #mobileAssignCoachPopup {
        position: absolute;
        top: 150px; /* adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        background-color: rgb(19, 18, 75);;
        border: 1px solid #ccc;
        padding: 1.5rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 300px;
        border-radius: 8px;
        color: white;
    }
    
    .mobile-assign-buttons {
        margin-top: 35px;
    }
    
    #mobile-assign-button {
        width: 100px;
        height: 60px;
        background-color: lightgreen;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 8px;
    }
    
    #mobile-cancel-btn {
        width: 100px;
        height: 60px;
        border: 0;
        outline: none;
        border-radius: 8px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        margin-left: 80px;
    }
    
    #mobileCoachId {
        height: 50px;
    }
    
/* Edit Profile info */
    
    #mobile-popup-form{
        position: fixed;
        color: white;
        top: 10rem;
        left: 30%;
        transform: translateX(-50%);
        z-index: 5;
        background-color: rgb(19, 18, 75);;
        border: 1px solid #ccc;
        padding: 1.6rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        gap: 6rem;
        width: 300px;
        border-radius: 8px;
    }
    
    #mobile-popup-form > h2 {
        text-align: center;
        text-decoration: underline;
    }
    
    .mobile-editfields {
        margin-top: 6px;
        margin-bottom: 6px;
        height: 40px;
        border-radius: 8px;
        border: none;
    }
    
    .mobile-popup-buttons {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    
    #mobileSaveBtn {
        height: 50px;
        width: 100px;
        background-color: lightgreen;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
    #mobileCancelEdit {
        height: 50px;
        width: 100px;
        border-radius: 8px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        border: none;
        cursor: pointer;
    }
    
/* Edit Comment Popups */
    
    .mobile-edit-comment-popup {
        color: white;
        position: fixed;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        z-index: 9999;
        border: 2px solid gray;
        background-color: rgb(19, 18, 75);
        width: 20rem;
        min-height: 12rem;
        max-width: 90vw;
        padding: 15px;
        border-radius: 10px;
    }
    
    .mobile-edit-comment-popup h2 {
        text-align: center;
        text-decoration: underline;
    }
    
    .mobile-edit-comment-popup textarea {
        width: 99%;
        height: 11rem;
        margin-bottom: 10px;
        outline: none;
        resize: none;
    }
    
    #mobileSaveCommentEdit {
        height: 50px;
        width: 100px;
        background-color: lightgreen;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
    #mobileCancelCommentEdit {
        height: 50px;
        width: 100px;
        border-radius: 8px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        border: none;
        cursor: pointer;
    }
    
/*   Add new comment   */
    
    #mobileCommentPopup {
        position: fixed;
        color: white;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%); /* real centering */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        background-color: rgb(19, 18, 75);
        padding: 10px;
        border-radius: 8px;
        border: 2px solid gray;
    }
    
    #mobileCommentPopup h2 {
        text-decoration: underline;
    }
    
    #mobileCommentPopup textarea {
        width: 98%;
        height: 15rem;
        margin-bottom: 10px;
        outline: none;
        resize: none;
    }
    
    #mobileSubmitComment {
        height: 50px;
        width: 100px;
        background-color: lightgreen;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
    #mobileCancelComment {
        height: 50px;
        width: 100px;
        border-radius: 8px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        border: none;
        cursor: pointer;
    }
    
    .mobileCommentBtns {
        display: flex;
        justify-content: space-between;
    }
    
/* Delete comment */
    
    .mobileconfirmDeleteComment {
        border: 3px solid gray;
        border-radius: 8px;
        background-color: lightgrey;
        padding: 5px;
        margin-left: 2px;
        margin-top: 5px;
        width: 360px;
        margin-bottom: 8px;
    }
    
    .mobileconfirmDeleteComment p {
        text-align: center;
    }
    
    .mobile-popup-actions {
        display: flex;
        justify-content: space-around;
    }
    
    .mobileconfirmComDelete {
        height: 50px;
        width: 100px;
        background-color: lightgreen;
        border: 2px solid black;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .mobilecancelComDelete {
        height: 50px;
        width: 100px;
        border-radius: 8px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        border: 2px solid black;
        cursor: pointer;
    }

/* Ratings */
    
    .mobileConfirmDeleteRating {
        border: 3px solid gray;
        border-radius: 8px;
        background-color: lightgrey;
        padding: 5px;
        margin-left: 2px;
        margin-top: 5px;
        width: 360px;
        margin-bottom: 8px;
    }
    
    .mobileConfirmDeleteRating p {
        text-align: center;
    }
    
    #mobileConfirmDelete {
        height: 50px;
        width: 100px;
        background-color: lightgreen;
        border: 2px solid black;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .mobileCancelDelete {
        height: 50px;
        width: 100px;
        border-radius: 8px;
        background-color: rgb(243 127 127);
        font-family: sans-serif;
        border: 2px solid black;
        cursor: pointer;
    }
    
    
    
    
    
    
    
    
    
}