body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coach-reg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 600px;
    min-width: none;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 500px;
}