.main-header {
    display: flex;
    background-color: rgb(19, 18, 75);
    width: 100%;
    height: 1.75rem;
    border-left: 20px solid rgb(19, 18, 75);;
    position: absolute;
    top: -.5rem;
    padding-top: .5rem;
 }
 
 a {
     color: rgb(255, 102, 50)
 }

.logo-container {
     position: relative;   
}

 .logo-image {
     height: auto;
     max-height: 60px;
     border-radius: 5px;
     margin-right: 2rem; 
 }
 
 .main-nav {
     display: flex;
     justify-content: center;
     position: relative;
     gap: 25px;
     top: .45rem;
     flex-shrink: 1;
     min-width: 0;
}
 
 .header-right {
     position: absolute;
     right: 19.5rem;
     top: .95rem;
 }

/* Mobile MQs */

@media (max-width: 430px) {
    .main-header {
        width: 104vh;
        display: flex;
        justify-content: space-evenly;
    }

    .main-nav {
        display: none;
    }

    a {
        font-size: 16px;
    }

    .header-right {
     position: relative;
     top: 4px;
     right: 5.5rem;
    }

    .logo-image {
        position: relative;
        width: 210px;
        height: 55px;
        left: 3rem;
    }
}