body {
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/idhoopslogo.png");
    background-position: center top 170px;
    background-repeat: no-repeat;
    z-index: -1;
}

h1 {
    position: relative;
    top: 27px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    min-width: 800px;
    position: relative;
    top: 12px;
}

.topblock {
    display: flex;
    align-items: flex-end;
    min-height: 25px;
    min-width: 50px;
    gap: 5px;
}

/* Add & Remove Button Stylings */
.add {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 170px;
}

button {
    background-color: rgb(255, 102, 50);
    color: white;
    font-family: 'Conthrax', sans-serif;
    width: 115px;
    border-radius: 6px 6px 0px 0px;
    border-width: 0;
    padding-right: 70px;
}

.add-user-logo {
    position: relative;
    height: 80%;
    width: 77%;
    left: 75px;
    top: 5px;
    z-index: 1;
}

.add-coach-logo {
    position: relative;
    height: 80%;
    width: 80%;
    left: 43px;
    top: 5px;
    z-index: 1;
}

#client-button {
    position: absolute;
    height: 49px;
    bottom: 43px;
    z-index: -1;
    left: 690px;
    bottom: 300px
}

#coach-button {
    position: relative;
    height: 49px;
    bottom: 43px;
    z-index: -1;
    width: 110px;
}

.form-links {
    border: 3px solid black;
    display: inline-block;
    width: 110px
}

#add-butt {
    
}

/* Searchbar Stylings */
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 600px;
    border-radius: 6px 6px 0px 0px;
    background-color: rgb(19, 18, 75);
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 14px;
}

.clear-icon {
    position: absolute;
    top: 14px;
    right: 11px;
    width: 10px;
    cursor: pointer;
}

.search {
    border-radius: 6px;
    border-width: 0;
    height: 20px;
    width: 89%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    
}

input::placeholder {
    font-family: 'Conthrax', sans-serif;
    font-size: 15px;
}

/* Table Stylings */
.client-block {
    color: rgb(19, 18, 75);
    height: 300px;
    min-width: 300px;
}

.client-table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

table th {
    border: 1px solid black;
    color: white;
    background-color: rgb(19, 18, 75);
}

table td {
    border: 1px solid black;
}