body {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: bottom 30%;
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login { 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 470px;
    background-color: rgb(255, 102, 50);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    bottom: 15px;
    width: 400px;
}

h1 {
  font-size: 40px;
  text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px  1px 0 white,
    1px  1px 0 white;;
}

.logo {
    z-index: 0;
    height: auto;
    width: 18vh; 
    position: relative; 
    bottom: 25px;
    fill: white;
}

.textfield {
    border-radius: 5px;
    border-width: 0;
    height: 24px;
    width: 80%;
    outline: none;
}

.login-button {
    margin-top: 25px;
    position: relative;
    bottom: 38px;
    height: 30px;
    border-radius: 5px;
    border-width: 0;
    font-family: 'Conthrax', sans-serif;
    background-color: rgb(19, 18, 75);
    color: white;
}

.login-button:hover{
    background-color: rgb(36, 31, 177)
}

/* Mobile Responsiveness MQs */

@media (max-width: 430px) {
    body {
        background-image: none;
        background-color: black;
    }

    h1 {
        text-align:center;
        font-size: 29px;
        margin-bottom: 25px;
    }

    label {
        position: relative;
        top: 60px;
    }

    .background {
        height: 400px;
        width: 370px;
        position: relative;
    }

    .form-content {
        width: 350px;
        position: relative;
        bottom: 0px;
    }

    .logo {
        width: 13.5vh;
        position: absolute;
        top: 1px
    }
    
    .textfield {
        height: 40px;
        padding: 5px;
        position: relative;
        top: 60px;
    
    }

    .login-button {
        height: 40px;
        position: relative;
        top: 35px;
    }
}
